:root {
    /* COLOR PRIMITIVES */
    --slate-100: #f3f3f3;
    --slate-200: #e3e3e3;
    --slate-300: #cdcdcd;
    --slate-400: #b2b2b2;
    --slate-500: #949494;
    --slate-600: #767676;
    --slate-700: #5a5a5a;
    --slate-800: #434343;
    --slate-900: #303030;
    --slate-1000: #242424;
    --white-100: rgba(255 255 255 / 0.05);
    --white-200: rgba(255 255 255 / 0.1);
    --white-300: rgba(255 255 255 / 0.2);
    --white-400: rgba(255 255 255 / 0.4);
    --white-500: rgba(255 255 255 / 0.7);
    --white-600: rgba(255 255 255 / 0.8);
    --white-700: rgba(255 255 255 / 0.85);
    --white-800: rgba(255 255 255 / 0.9);
    --white-900: rgba(255 255 255 / 0.95);
    --white-1000: #ffffff;
    --brand-100: #f3c718;
    --brand-200: #f4cb2a;
    --brand-300: #f5d03d;
    --brand-400: #f6d550;
    --brand-500: #f7d964;
    --brand-600: #f8de77;
    --brand-700: #f9e38b;
    --brand-800: #fae79e;
    --brand-900: #fbecb1;
    --brand-1000: #fdf6d8;
    --red-100: #fee9e7;
    --red-200: #fdd3d0;
    --red-300: #fcb3ad;
    --red-400: #f4776a;
    --red-500: #ec221f;
    --red-600: #c00f0c;
    --red-700: #900b09;
    --red-800: #690807;
    --red-900: #4d0b0a;
    --red-1000: #300603;
    --yellow-100: #fffbeb;
    --yellow-200: #fff1c2;
    --yellow-300: #ffe8a3;
    --yellow-400: #e8b931;
    --yellow-500: #e5a000;
    --yellow-600: #bf6a02;
    --yellow-700: #975102;
    --yellow-800: #682d03;
    --yellow-900: #522504;
    --yellow-1000: #401b01;
    --green-100: #ebffee;
    --green-200: #cff7d3;
    --green-300: #aff4c6;
    --green-400: #85e0a3;
    --green-500: #14ae5c;
    --green-600: #009951;
    --green-700: #008043;
    --green-800: #02542d;
    --green-900: #024023;
    --green-1000: #062d1b;
    --black-100: rgba(12 12 13 / 0.05);
    --black-200: rgba(12 12 13 / 0.1);
    --black-300: rgba(12 12 13 / 0.2);
    --black-400: rgba(12 12 13 / 0.4);
    --black-500: rgba(12 12 13 / 0.7);
    --black-600: rgba(12 12 13 / 0.8);
    --black-700: rgba(12 12 13 / 0.85);
    --black-800: rgba(12 12 13 / 0.9);
    --black-900: rgba(12 12 13 / 0.95);
    --black-1000: #0c0c0d;
    --pink-100: #fcf1fd;
    --pink-200: #fae1fa;
    --pink-300: #f5c0ef;
    --pink-400: #f19edc;
    --pink-500: #ea3fb8;
    --pink-600: #d732a8;
    --pink-700: #ba2a92;
    --pink-800: #8a226f;
    --pink-900: #57184a;
    --pink-1000: #3f1536;
    --gray-100: #e6e6e6;
    --gray-200: #cccccc;
    --gray-300: #b3b3b3;
    --gray-400: #999999;
    --gray-500: #808080;
    --gray-600: #242424;
    --gray-700: #1f1f1f;
    --gray-800: #141414;
    --gray-900: #0a0a0a;
    --gray-1000: #000000;

    /* TYPOGRAPHY PRIMITIVES */
    --weight-thin: 100;
    --weight-extra-light: 200;
    --weight-light: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-extra-bold: 800;
    --weight-black: 900;

    --scale-10: 72px;
    --scale-10-rem: 4.5rem;
    --scale-09: 64px;
    --scale-09-rem: 4rem;
    --scale-08: 48px;
    --scale-08-rem: 3rem;
    --scale-07: 40px;
    --scale-07-rem: 2.5rem;
    --scale-06: 32px;
    --scale-06-rem: 2rem;
    --scale-05: 24px;
    --scale-05-rem: 1.5rem;
    --scale-04: 20px;
    --scale-04-rem: 1.25rem;
    --scale-03: 16px;
    --scale-03-rem: 1rem;
    --scale-02: 14px;
    --scale-02-rem: 0.875rem;
    --scale-01: 12px;
    --scale-01-rem: 0.75rem;

    --family-sans: "Inter";
    --family-serif: "Noto Serif";
    --family-mono: "Roboto Mono";
    --weight-light-italic: "Light Italic";
    --weight-regular-italic: "Italic";
    --weight-bold-italic: "Bold Italic";
    --weight-thin-italic: "Thin Italic";
    --weight-extralight-italic: "Extra Light Italic";
    --weight-medium-italic: "Medium Italic";
    --weight-semibold-italic: "Semi Bold Italic";
    --weight-extra-bold-italic: "Extra Bold Italic";
    --weight-black-italic: "Black Italic";

    /* RESPONSIVE */
    --device-width-desktop: 1200px;
    --device-width-rem-desktop: 75rem;
    --device-width-mobile: 375px;
    --device-width-rem-mobile: 23.4375rem;
    --device-width-tablet: 768px;
    --device-width-rem-tablet: 48rem;
    --root-font-size-desktop: var(--scale-03);
    --root-font-size-mobile: var(--scale-03);
    --root-font-size-tablet: var(--scale-03);
    --scale-desktop: 1px;
    --scale-rem-desktop: 0.0625rem;
    --scale-mobile: 1.25px;
    --scale-rem-mobile: 0.0781rem;
    --scale-tablet: 1px;
    --scale-rem-tablet: 0.0625rem;
    --device-desktop: "desktop";
    --device-mobile: "mobile";
    --device-tablet: "tablet";

    /* SIZE */
    --space-100: 4px;
    --space-100-rem: 0.25rem;
    --space-200: 8px;
    --space-200-rem: 0.5rem;
    --space-300: 12px;
    --space-300-rem: 0.75rem;
    --space-400: 16px;
    --space-400-rem: 1rem;
    --space-600: 24px;
    --space-600-rem: 1.5rem;
    --space-negative-100: -4px;
    --space-negative-100-rem: -0.25rem;
    --space-negative-200: -8px;
    --space-negative-200-rem: -0.5rem;
    --space-negative-300: -12px;
    --space-negative-300-rem: -0.75rem;
    --space-negative-400: -16px;
    --space-negative-400-rem: -1rem;
    --space-negative-600: -24px;
    --space-negative-600-rem: -1.5rem;
    --radius-100: 4px;
    --radius-100-rem: 0.25rem;
    --radius-200: 8px;
    --radius-200-rem: 0.5rem;
    --radius-400: 16px;
    --radius-400-rem: 1rem;
    --depth-0: 0px;
    --depth-0-rem: 0rem;
    --depth-025: 1px;
    --depth-025-rem: 0.0625rem;
    --depth-100: 4px;
    --depth-100-rem: 0.25rem;
    --depth-200: 8px;
    --depth-200-rem: 0.5rem;
    --depth-400: 16px;
    --depth-400-rem: 1rem;
    --depth-800: 32px;
    --depth-800-rem: 2rem;
    --depth-1200: 48px;
    --depth-1200-rem: 3rem;
    --depth-negative-025: -1px;
    --depth-negative-025-rem: -0.0625rem;
    --depth-negative-100: -4px;
    --depth-negative-100-rem: -0.25rem;
    --depth-negative-200: -8px;
    --depth-negative-200-rem: -0.5rem;
    --depth-negative-400: -16px;
    --depth-negative-400-rem: -1rem;
    --depth-negative-800: -32px;
    --depth-negative-800-rem: -2rem;
    --depth-negative-1200: -48px;
    --depth-negative-1200-rem: -3rem;
    --radius-full: 9999px;
    --radius-full-rem: 624.9375rem;
    --space-1600: 64px;
    --space-1600-rem: 4rem;
    --stroke-border: 1px;
    --stroke-border-rem: 0.0625rem;
    --stroke-focus-ring: 2px;
    --stroke-focus-ring-rem: 0.125rem;
    --blur-100: 4px;
    --blur-100-rem: 0.25rem;
    --space-4000: 160px;
    --space-4000-rem: 10rem;
    --space-800: 32px;
    --space-800-rem: 2rem;
    --space-1200: 48px;
    --space-1200-rem: 3rem;
    --space-2400: 96px;
    --space-2400-rem: 6rem;
    --space-0: 0px;
    --space-0-rem: 0rem;
    --space-050: 2px;
    --space-050-rem: 0.125rem;
    --space-150: 6px;
    --space-150-rem: 0.375rem;
    --icon-small: 24px;
    --icon-small-rem: 1.5rem;
    --icon-medium: 32px;
    --icon-medium-rem: 2rem;
    --icon-large: 40px;
    --icon-large-rem: 2.5rem;

    /* TYPOGRAPHY */
    --title-page-font-family: var(--family-sans);
    --title-page-font-weight: var(--weight-bold);
    --title-page-size-small: var(--scale-07);
    --subtitle-font-family: var(--family-sans);
    --subtitle-size-base: var(--scale-06);
    --subtitle-font-weight: var(--weight-regular);
    --body-font-family: var(--family-sans);
    --body-size-medium: var(--scale-03);
    --body-font-weight-regular: var(--weight-regular);
    --code-font-family: var(--family-mono);
    --code-size-base: var(--body-size-medium);
    --code-font-weight: var(--body-font-weight-regular);
    --heading-font-family: var(--family-sans);
    --heading-size-base: var(--scale-05);
    --heading-font-weight: var(--weight-semibold);
    --title-hero-font-family: var(--family-sans);
    --title-hero-size: var(--scale-10);
    --title-hero-font-weight: var(--weight-bold);
    --title-page-size-base: var(--scale-08);
    --title-page-size-large: var(--scale-09);
    --subtitle-size-large: var(--scale-07);
    --subtitle-size-small: var(--scale-05);
    --heading-size-large: var(--scale-06);
    --heading-size-small: var(--scale-04);
    --body-size-large: var(--scale-04);
    --body-size-small: var(--scale-02);
    --code-size-large: var(--body-size-large);
    --code-size-small: var(--body-size-small);
    --body-font-weight-strong: var(--weight-semibold);
    --body-font-style-italic: var(--weight-regular-italic);
    --subheading-font-family: var(--family-sans);
    --subheading-size-small: var(--scale-03);
    --subheading-size-medium: var(--scale-04);
    --subheading-size-large: var(--scale-05);
    --subheading-font-weight: var(--weight-regular);
}

:root {
  --background-default-default: var(--white-1000);
  --background-default-secondary: var(--gray-100);
  --background-default-tertiary: var(--gray-300);
  --background-default-default-hover: var(--gray-100);
  --background-brand-default: var(--brand-800);
  --background-brand-secondary: var(--brand-200);
  --background-brand-hover: var(--brand-900);
  --background-positive-default: var(--green-500);
  --background-positive-secondary: var(--green-200);
  --background-positive-hover: var(--green-600);
  --background-warning-default: var(--yellow-400);
  --background-warning-secondary: var(--yellow-200);
  --background-warning-hover: var(--yellow-500);
  --background-danger-default: var(--red-500);
  --background-danger-secondary: var(--red-200);
  --background-danger-hover: var(--red-600);
  --background-disabled-default: var(--brand-300);
  --text-default-default: var(--gray-900);
  --text-default-secondary: var(--gray-500);
  --text-default-tertiary: var(--gray-400);
  --text-brand-default: var(--brand-800);
  --text-brand-secondary: var(--brand-600);
  --text-brand-tertiary: var(--brand-500);
  --text-brand-on-brand: var(--brand-100);
  --text-brand-on-brand-secondary: var(--brand-900);
  --text-positive-default: var(--green-800);
  --text-positive-secondary: var(--green-600);
  --text-positive-tertiary: var(--green-500);
  --text-positive-on-positive: var(--green-100);
  --text-positive-on-positive-secondary: var(--green-800);
  --text-warning-default: var(--yellow-900);
  --text-warning-secondary: var(--yellow-700);
  --text-warning-tertiary: var(--yellow-600);
  --text-warning-on-warning: var(--yellow-1000);
  --text-warning-on-warning-secondary: var(--yellow-800);
  --text-danger-default: var(--red-700);
  --text-danger-secondary: var(--red-600);
  --text-danger-tertiary: var(--red-500);
  --text-danger-on-danger: var(--red-100);
  --text-danger-on-danger-secondary: var(--red-700);
  --text-disabled-default: var(--brand-400);
  --text-disabled-on-disabled: var(--brand-400);
  --icon-default-default: var(--gray-900);
  --icon-default-secondary: var(--gray-500);
  --icon-default-tertiary: var(--gray-400);
  --icon-brand-default: var(--brand-800);
  --icon-brand-secondary: var(--brand-600);
  --icon-brand-tertiary: var(--brand-500);
  --icon-brand-on-brand: var(--brand-100);
  --icon-brand-on-brand-secondary: var(--brand-900);
  --icon-positive-default: var(--green-800);
  --icon-positive-secondary: var(--green-600);
  --icon-positive-tertiary: var(--green-500);
  --icon-positive-on-positive: var(--green-100);
  --icon-positive-on-positive-secondary: var(--green-800);
  --icon-warning-default: var(--yellow-900);
  --icon-warning-secondary: var(--yellow-700);
  --icon-warning-tertiary: var(--yellow-600);
  --icon-warning-on-warning: var(--yellow-1000);
  --icon-warning-on-warning-secondary: var(--yellow-800);
  --icon-danger-default: var(--red-700);
  --icon-danger-secondary: var(--red-600);
  --icon-danger-tertiary: var(--red-500);
  --icon-danger-on-danger: var(--red-100);
  --icon-danger-on-danger-secondary: var(--red-700);
  --icon-disabled-default: var(--brand-400);
  --icon-disabled-on-disabled: var(--brand-400);
  --border-default-default: var(--gray-300);
  --border-default-secondary: var(--gray-500);
  --border-brand-default: var(--brand-800);
  --border-brand-secondary: var(--brand-600);
  --border-positive-default: var(--green-800);
  --border-positive-secondary: var(--green-600);
  --border-warning-default: var(--yellow-900);
  --border-warning-secondary: var(--yellow-700);
  --border-danger-default: var(--red-700);
  --border-danger-secondary: var(--red-600);
  --border-disabled-default: var(--brand-400);
  --background-brand-secondary-hover: var(--brand-300);
  --background-utilities-scrim: rgba(255 255 255 / 0.8);
  --background-utilities-overlay: rgba(0 0 0 / 0.5);
  --text-utilities-text-on-overlay: var(--black-1000);
  --background-brand-tertiary: var(--brand-100);
  --text-brand-on-brand-tertiary: var(--brand-800);
  --background-brand-tertiary-hover: var(--brand-200);
  --background-default-secondary-hover: var(--gray-200);
  --background-default-tertiary-hover: var(--gray-400);
  --background-positive-secondary-hover: var(--green-300);
  --background-warning-secondary-hover: var(--yellow-300);
  --background-danger-secondary-hover: var(--red-300);
  --icon-brand-on-brand-tertiary: var(--brand-800);
  --icon-warning-on-warning-tertiary: var(--yellow-900);
  --icon-danger-on-danger-tertiary: var(--red-700);
  --icon-positive-on-positive-tertiary: var(--green-900);
  --background-positive-tertiary: var(--green-100);
  --background-positive-tertiary-hover: var(--green-200);
  --background-warning-tertiary: var(--yellow-100);
  --background-warning-tertiary-hover: var(--yellow-200);
  --background-danger-tertiary: var(--red-100);
  --background-danger-tertiary-hover: var(--red-200);
  --text-warning-on-warning-tertiary: var(--yellow-900);
  --text-danger-on-danger-tertiary: var(--red-700);
  --text-positive-on-positive-tertiary: var(--green-800);
  --background-utilities-blanket: rgba(0 0 0 / 0.7);
  --background-utilities-measurement: var(--pink-200);
  --text-utilities-text-on-measurement: var(--pink-800);
  --border-utilities-measurement: var(--pink-400);
  --background-neutral-default: var(--slate-700);
  --background-neutral-hover: var(--slate-800);
  --background-neutral-secondary: var(--slate-300);
  --background-neutral-secondary-hover: var(--slate-400);
  --background-neutral-tertiary: var(--slate-200);
  --background-neutral-tertiary-hover: var(--slate-300);
  --text-neutral-default: var(--slate-900);
  --text-neutral-secondary: var(--slate-700);
  --text-neutral-tertiary: var(--slate-600);
  --text-neutral-on-neutral: var(--slate-100);
  --text-neutral-on-neutral-secondary: var(--slate-900);
  --text-neutral-on-neutral-tertiary: var(--slate-800);
  --icon-neutral-default: var(--slate-900);
  --icon-neutral-secondary: var(--slate-700);
  --icon-neutral-tertiary: var(--slate-600);
  --icon-neutral-on-neutral: var(--slate-100);
  --icon-neutral-on-neutral-secondary: var(--slate-900);
  --icon-neutral-on-neutral-tertiary: var(--slate-800);
  --border-neutral-default: var(--slate-900);
  --border-neutral-secondary: var(--slate-600);
  --border-default-tertiary: var(--gray-700);
  --border-neutral-tertiary: var(--slate-400);
  --border-brand-tertiary: var(--brand-500);
  --border-positive-tertiary: var(--green-500);
  --border-warning-tertiary: var(--yellow-600);
  --border-danger-tertiary: var(--red-500);
  --icon-utilities-icon-on-measurement: var(--pink-800);
  --border-utilities-swatch: rgba(0 0 0 / 0.24);
  --icon-utilities-icon: var(--pink-600);
}

[data-theme="dark"] {
    --background-default-default: var(--gray-900);
    --background-default-secondary: var(--gray-800);
    --background-default-tertiary: var(--gray-600);
    --background-default-default-hover: var(--gray-700);
    --background-brand-default: var(--brand-100);
    --background-brand-secondary: var(--brand-600);
    --background-brand-hover: var(--brand-300);
    --background-positive-default: var(--green-700);
    --background-positive-secondary: var(--green-800);
    --background-positive-hover: var(--green-800);
    --background-warning-default: var(--yellow-400);
    --background-warning-secondary: var(--yellow-800);
    --background-warning-hover: var(--yellow-500);
    --background-danger-default: var(--red-600);
    --background-danger-secondary: var(--red-800);
    --background-danger-hover: var(--red-700);
    --background-disabled-default: var(--brand-700);
    --text-default-default: var(--white-1000);
    --text-default-secondary: var(--white-500);
    --text-default-tertiary: var(--white-400);
    --text-brand-default: var(--brand-100);
    --text-brand-secondary: var(--brand-300);
    --text-brand-tertiary: var(--brand-400);
    --text-brand-on-brand: var(--brand-900);
    --text-brand-on-brand-secondary: var(--brand-100);
    --text-positive-default: var(--green-200);
    --text-positive-secondary: var(--green-400);
    --text-positive-tertiary: var(--green-600);
    --text-positive-on-positive: var(--green-100);
    --text-positive-on-positive-secondary: var(--green-100);
    --text-warning-default: var(--yellow-200);
    --text-warning-secondary: var(--yellow-400);
    --text-warning-tertiary: var(--yellow-600);
    --text-warning-on-warning: var(--yellow-1000);
    --text-warning-on-warning-secondary: var(--yellow-100);
    --text-danger-default: var(--red-200);
    --text-danger-secondary: var(--red-400);
    --text-danger-tertiary: var(--red-500);
    --text-danger-on-danger: var(--red-100);
    --text-danger-on-danger-secondary: var(--red-100);
    --text-disabled-default: var(--brand-500);
    --text-disabled-on-disabled: var(--brand-400);
    --icon-default-default: var(--white-1000);
    --icon-default-secondary: var(--white-500);
    --icon-default-tertiary: var(--white-400);
    --icon-brand-default: var(--brand-100);
    --icon-brand-secondary: var(--brand-300);
    --icon-brand-tertiary: var(--brand-400);
    --icon-brand-on-brand: var(--brand-900);
    --icon-brand-on-brand-secondary: var(--brand-100);
    --icon-positive-default: var(--green-200);
    --icon-positive-secondary: var(--green-400);
    --icon-positive-tertiary: var(--green-600);
    --icon-positive-on-positive: var(--green-100);
    --icon-positive-on-positive-secondary: var(--green-100);
    --icon-warning-default: var(--yellow-200);
    --icon-warning-secondary: var(--yellow-400);
    --icon-warning-tertiary: var(--yellow-600);
    --icon-warning-on-warning: var(--yellow-1000);
    --icon-warning-on-warning-secondary: var(--yellow-100);
    --icon-danger-default: var(--red-200);
    --icon-danger-secondary: var(--red-400);
    --icon-danger-tertiary: var(--red-500);
    --icon-danger-on-danger: var(--red-100);
    --icon-danger-on-danger-secondary: var(--red-100);
    --icon-disabled-default: var(--brand-500);
    --icon-disabled-on-disabled: var(--brand-400);
    --border-default-default: var(--gray-600);
    --border-default-secondary: var(--gray-500);
    --border-brand-default: var(--brand-100);
    --border-brand-secondary: var(--brand-300);
    --border-positive-default: var(--green-200);
    --border-positive-secondary: var(--green-400);
    --border-warning-default: var(--yellow-200);
    --border-warning-secondary: var(--yellow-400);
    --border-danger-default: var(--red-200);
    --border-danger-secondary: var(--red-400);
    --border-disabled-default: var(--brand-600);
    --background-brand-secondary-hover: var(--brand-500);
    --background-utilities-scrim: rgba(0 0 0 / 0.8);
    --background-utilities-overlay: rgba(0 0 0 / 0.5);
    --text-utilities-text-on-overlay: var(--white-1000);
    --background-brand-tertiary: var(--brand-600);
    --text-brand-on-brand-tertiary: var(--brand-100);
    --background-brand-tertiary-hover: var(--brand-800);
    --background-default-secondary-hover: var(--gray-900);
    --background-default-tertiary-hover: var(--gray-700);
    --background-positive-secondary-hover: var(--green-900);
    --background-warning-secondary-hover: var(--yellow-900);
    --background-danger-secondary-hover: var(--red-900);
    --icon-brand-on-brand-tertiary: var(--brand-100);
    --icon-warning-on-warning-tertiary: var(--yellow-100);
    --icon-danger-on-danger-tertiary: var(--red-100);
    --icon-positive-on-positive-tertiary: var(--green-100);
    --background-positive-tertiary: var(--green-900);
    --background-positive-tertiary-hover: var(--green-1000);
    --background-warning-tertiary: var(--yellow-900);
    --background-warning-tertiary-hover: var(--yellow-1000);
    --background-danger-tertiary: var(--red-900);
    --background-danger-tertiary-hover: var(--red-1000);
    --text-warning-on-warning-tertiary: var(--yellow-100);
    --text-danger-on-danger-tertiary: var(--red-100);
    --text-positive-on-positive-tertiary: var(--green-100);
    --background-utilities-blanket: rgba(0 0 0 / 0.7);
    --background-utilities-measurement: var(--pink-800);
    --text-utilities-text-on-measurement: var(--pink-200);
    --border-utilities-measurement: var(--pink-600);
    --background-neutral-default: var(--slate-400);
    --background-neutral-hover: var(--slate-500);
    --background-neutral-secondary: var(--slate-900);
    --background-neutral-secondary-hover: var(--slate-1000);
    --background-neutral-tertiary: var(--slate-900);
    --background-neutral-tertiary-hover: var(--slate-1000);
    --text-neutral-default: var(--slate-200);
    --text-neutral-secondary: var(--slate-300);
    --text-neutral-tertiary: var(--slate-400);
    --text-neutral-on-neutral: var(--slate-1000);
    --text-neutral-on-neutral-secondary: var(--slate-100);
    --text-neutral-on-neutral-tertiary: var(--slate-100);
    --icon-neutral-default: var(--slate-200);
    --icon-neutral-secondary: var(--slate-300);
    --icon-neutral-tertiary: var(--slate-400);
    --icon-neutral-on-neutral: var(--slate-1000);
    --icon-neutral-on-neutral-secondary: var(--slate-100);
    --icon-neutral-on-neutral-tertiary: var(--slate-100);
    --border-neutral-default: var(--slate-100);
    --border-neutral-secondary: var(--slate-500);
    --border-default-tertiary: var(--gray-400);
    --border-neutral-tertiary: var(--slate-600);
    --border-brand-tertiary: var(--brand-400);
    --border-positive-tertiary: var(--green-600);
    --border-warning-tertiary: var(--yellow-600);
    --border-danger-tertiary: var(--red-500);
    --icon-utilities-icon-on-measurement: var(--pink-200);
    --border-utilities-swatch: rgba(255 255 255 / 0.24);
    --icon-utilities-icon: var(--pink-400);
}

:root {
    /* TYPE */
    --title-hero-family: "Inter";
    --title-hero-size: 72px;
    --title-hero-size-rem: 4.5rem;
    --title-hero-weight: 700;
    --title-hero-style: normal;
    --title-hero-line-height: 120%;
    --title-page-family: "Inter";
    --title-page-size: 48px;
    --title-page-size-rem: 3rem;
    --title-page-weight: 700;
    --title-page-style: normal;
    --title-page-line-height: 120%;
    --subtitle-family: "Inter";
    --subtitle-size: 32px;
    --subtitle-size-rem: 2rem;
    --subtitle-weight: 400;
    --subtitle-style: normal;
    --subtitle-line-height: 120%;
    --heading-family: "Inter";
    --heading-size: 24px;
    --heading-size-rem: 1.5rem;
    --heading-weight: 600;
    --heading-style: normal;
    --heading-line-height: 120%;
    --subheading-family: "Inter";
    --subheading-size: 20px;
    --subheading-size-rem: 1.25rem;
    --subheading-weight: 400;
    --subheading-style: normal;
    --subheading-line-height: 120%;
    --body-base-family: "Inter";
    --body-base-size: 16px;
    --body-base-size-rem: 1rem;
    --body-base-weight: 700;
    --body-base-style: normal;
    --body-base-line-height: 140%;
    --body-strong-family: "Inter";
    --body-strong-size: 16px;
    --body-strong-size-rem: 1rem;
    --body-strong-weight: 600;
    --body-strong-style: normal;
    --body-strong-line-height: 140%;
    --body-emphasis-family: "Inter";
    --body-emphasis-size: 16px;
    --body-emphasis-size-rem: 1rem;
    --body-emphasis-style: italic;
    --body-emphasis-line-height: 140%;
    --body-link-family: "Inter";
    --body-link-size: 16px;
    --body-link-size-rem: 1rem;
    --body-link-weight: 400;
    --body-link-style: normal;
    --body-link-line-height: 140%;
    --body-small-family: "Inter";
    --body-small-size: 14px;
    --body-small-size-rem: 0.875rem;
    --body-small-weight: 400;
    --body-small-style: normal;
    --body-small-line-height: 140%;
    --body-small-strong-family: "Inter";
    --body-small-strong-size: 14px;
    --body-small-strong-size-rem: 0.875rem;
    --body-small-strong-weight: 600;
    --body-small-strong-style: normal;
    --body-small-strong-line-height: 140%;
    --body-code-family: "Roboto Mono";
    --body-code-size: 16px;
    --body-code-size-rem: 1rem;
    --body-code-weight: 400;
    --body-code-style: normal;
    --body-code-line-height: 100%;
    --single-line-body-base-family: "Inter";
    --single-line-body-base-size: 16px;
    --single-line-body-base-size-rem: 1rem;
    --single-line-body-base-weight: 400;
    --single-line-body-base-style: normal;
    --single-line-body-base-line-height: 100%;
    --single-line-body-small-strong-family: "Inter";
    --single-line-body-small-strong-size: 14px;
    --single-line-body-small-strong-size-rem: 0.875rem;
    --single-line-body-small-strong-weight: 600;
    --single-line-body-small-strong-style: normal;
    --single-line-body-small-strong-line-height: 100%;
    --utilities-component-notes-regular-family: "Roboto Mono";
    --utilities-component-notes-regular-size: 16px;
    --utilities-component-notes-regular-size-rem: 1rem;
    --utilities-component-notes-regular-weight: 400;
    --utilities-component-notes-regular-style: normal;
    --utilities-component-notes-regular-line-height: 140%;
    --utilities-component-notes-bold-family: "Roboto Mono";
    --utilities-component-notes-bold-size: 16px;
    --utilities-component-notes-bold-size-rem: 1rem;
    --utilities-component-notes-bold-weight: 700;
    --utilities-component-notes-bold-style: normal;
    --utilities-component-notes-bold-line-height: 140%;

    /* COLORS */
    --image-placeholder: #e3e3e3;

    /* SHADOWS */
    --drop-shadow-100: 0 1px 4px 0 rgba(12 12 13 / 0.05);
    --drop-shadow-200: 0 1px 4px 0 rgba(12 12 13 / 0.05), 0 1px 4px 0 rgba(12 12 13 / 0.1);
    --drop-shadow-300: 0 4px 4px -1px rgba(12 12 13 / 0.05), 0 4px 4px -1px rgba(12 12 13 / 0.1);
    --drop-shadow-400: 0 4px 4px -4px rgba(12 12 13 / 0.05), 0 16px 32px -4px rgba(12 12 13 / 0.1);
    --drop-shadow-500: 0 4px 4px -4px rgba(12 12 13 / 0.05), 0 16px 16px -8px rgba(12 12 13 / 0.1);
    --drop-shadow-600: 0 16px 32px -8px rgba(12 12 13 / 0.4);
    --inner-shadow-100: inset 0 1px 4px 0 rgba(12 12 13 / 0.05);
    --inner-shadow-200: inset 0 1px 4px 0 rgba(12 12 13 / 0.05);
    --inner-shadow-300: inset 0 4px 4px -1px rgba(12 12 13 / 0.05);
    --inner-shadow-400: inset 0 16px 32px -4px rgba(12 12 13 / 0.1);
    --inner-shadow-500: inset 0 16px 16px -8px rgba(12 12 13 / 0.1);
    --inner-shadow-600: inset 0 16px 32px -8px rgba(12 12 13 / 0.4);
}


